.app-footer {
  &__content {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    @include md {
      flex-direction: column;
    }
  }

  &__logo {
    width: 10rem !important;
  }

  &__contact {
    display: inherit;
    flex-direction: column;

    > .ant-typography:first-child {
      font-size: 2rem;
    }
  }

  &__social {
    display: inherit;
    justify-content: space-around;
  }

  &__list {
    list-style-type: none;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-primary-green);
    padding: 2rem;

    .ant-typography {
      color: var(--bs-white);
    }
  }
}
