.job-detail {
  padding: 8%;

  h1 {
    margin-bottom: 1rem;
  }

  > .tags {
    display: flex;
    gap: 0.5rem;
  }
}

.job-content {
  font-size: initial;
  font-weight: lighter;
  padding: 0 4rem;
  margin-top: 2rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: .8rem;
    height: 100%;
    background-color: var(--color-primary-green);
  }

  > ol, ul {
      margin: 0;
      margin-left: 4rem;
  }
}
