.apply-now-form {
  box-shadow: var(--common-box-shadow);
  background-color: getColor("white", "basic_white");
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 50rem;

  > button {
    padding: 1rem;
    font-size: 1.4rem;
  }
}

.modal-apply-now {
  .apply-now-form {
    padding: 1rem;
    box-shadow: none;
    margin: 0;
    height: 50rem;
  }
}
