.app-button {
  border: none;
  padding: 1rem;
  height: fit-content;
  border-radius: var(--common-border-radius);
  min-width: 10rem;
  color: var(--color-primary-white) !important;
  background-color: var(--color-primary-green);

  @include sm {
    min-width: fit-content;
    font-size: 1rem;
    padding: 0.5rem;
  }
}
