.card-review {
  box-shadow: var(--common-box-shadow);
  display: flex;
  border-radius: var(--common-border-radius);

  > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  > .content > .name {
    font-size: 4rem;
    display: block;
  }

  > .content > .comment {
    font-size: 2rem;
    display: block;
  }

  > .content > * {
    color: var(--color-primary-black);
  }

  > .image > .ant-image {
    display: block;
  }

  @include md {
    flex-direction: column;
    .ant-image-img {
      width: 100% !important;
      height: 100% !important;
    }

    > .content > .name {
      font-size: 2.4rem;
      display: block;
    }

    > .content > .comment {
      font-size: 1.4rem;
      display: block;
    }
  }
}
