html,
body {
  font-family: "Roboto Slab", sans-serif !important;
  /*variables */
  --bs-white: #fff;
  --bs-black: #000;

  --color-faded-green: #f4faf6;
  --color-primary-green: #00a029;
  --color-secondary-green: #f0faf0;
  --color-primary-green-o: rgb(0, 160, 41, 0.2);
  --color-primary-orange: #f2772a;
  --color-primary-orange-o: rgb(242, 119, 42, 0.2);
  --color-primary-black: #000;
  --color-primary-white: #fff;
  --color-primary-red: #c70c00;
  --color-secondary-red: #f7dbda;
  --color-primary-blue: #1e5ac7;
  --color-secondary-blue: #d9e1f7;
  --color-primary-grey: #8c8f8c;
  --color-secondary-grey: #e6e6e6;

  --common-border-radius: 1rem;
  --common-box-shadow: 0 2px 6px 0 rgb(67 89 113 / 12%);
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", sans-serif !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
