.ant-carousel {
  > .slick-slider > .slick-list {
    border-radius: var(--common-border-radius);
  }

  > .slick-slider > .slick-dots > li {
    height: 2rem;
    width: 2rem;
  }

  > .slick-slider > .slick-dots > li > button {
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-primary-orange);
  }

  @include md {
    > .slick-slider > .slick-dots {
      bottom: -2rem;
    }
  }
}
